/*first*/
.ex-1-square {
    transition: 1s linear;
}


.ex-1-square:hover {
    background-color: red;
}



/*2*/
.ex-2-square {
    transition: 1s linear;
}


.ex-2-square:active {
    width: 100%;
}


/*3*/

.ex-3-square {
    transition: 1s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}





/*4*/
.ex-4-square {
    transition: 1s linear;
}


.ex-4-square:hover {
    opacity: 0;
}




/*5*/
.ex-5-square {
    transition: 0.3s linear;
}


.ex-5-square:hover {
    transform: scale(1.3);
}


.ex-5-square:active {
    transform: scale(1);
}



/*6*/
.ex-6-img:hover {
    filter: grayscale();
}



/*7*/
.ex-7-img {
    transition: 1s linear;
}

.ex-7-img:hover {
    filter: grayscale() blur();
}



/*8*/
.ex-8-img {
    transition: 1s linear;
}


.ex-8-img:hover {
    filter: invert() grayscale();
    border-radius: 10px;
}



/*9*/
.ex-9-img {
    transition: 1s linear;
}


.ex-9-img:hover {
    filter: contrast() sepia();
    border-radius: 10px;
    transform: scale(0.8);
}



/*10*/
.ex-10-icon {
    animation: spin 1.2s infinite ease-out;
}


@keyframes spin {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/*11*/
.ex-11-icon:hover {
    animation: spinHover 1.7s;
}


@keyframes spinHover {
    0% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/*12*/
.ex-12-button:hover .ex-12-top-white {
    animation: moveBorder 2s alternate linear infinite;
}


@keyframes moveBorder {
    from {
        left: 10%;
    }


    to {
        left: 60%;
    }
}



.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBorderBottom 2s alternate linear infinite;
}


@keyframes moveBorderBottom {
    from {
        right: 10%;
    }


    to {
        right: 60%;
    }
}


/*13*/
.ex-13-button:hover .ex-13-top-white {
    animation: borderTopRotate 2s linear;
}

@keyframes borderTopRotate {
    0% {
        left: 10%;
        top: -10px;
    }

    20% {
        left: 100%;
        top: -10px;
    }

    40% {
        left: 100%;
        top: 100%;
    }

    60% {
        left: -3px;
        top: 100%;
    }

    80% {
        left: -3px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: borderBottomRotate 2s linear;
}

@keyframes borderBottomRotate {
    0% {
        right: 20%;
        bottom: -10px;
    }

    20% {
        right: calc(100% - 57px);
        bottom: -10px;
    }

    40% {
        right: calc(100% - 57px);
        bottom: 100%;
    }

    60% {
        right: -3px;
        bottom: 100%;
    }

    80% {
        right: -3px;
        bottom: -10px;
    }

    100% {
        right: 20%;
        bottom: -10px;
    }
}